body {
  padding-top: 50px; 
  background-color:#F8F8FF;
}

.container {
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.panel-body h4 {
    font-size:84%;
}
#content {
    background-color:#fff;
    padding:0 10px;
    border:1px solid #bbb;
    border-bottom-color:#aaa;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.25);
}

img {
	max-width: 100%;
	height: auto;
}

.nav-tabs {  
    background-color:#efefef;
    height:45px;
    font-size:18px;
}
.nav-tabs li {
    font-weight:bold;
    color: #555;
}
.nav-tabs li a {
    color:#08c;
}

.navbar {  
    background-color: #000066;  
    font-color: #FFFFFF;
}
.navbar-brand {
	color: #FFFFFF;
}
.panel-heading {
	background-color: #87CEEB;  
}
.panel-title {  
    color: #555;
}

h1 {  
    color: #87CEEB;  
} 

.line {
    margin-left: 2px;
    position: absolute;
}

.under_line {
    border-bottom:8px solid #333;
}

.clear {
    clear:both;
}

header {
    margin-top:20px;
}

.hightline {
    color:red;
}

h1 {
    font-size:18px;
}
h1 a {
    color:#222;
    font:18px 微软雅黑,PMingLiU,Verdana,Arial,Helvetica,sans-serif;
}

header h1 {
    margin-bottom:0;
}

#blogdesc {
    font-size:11px;
    color:#666;
}

.article h2, .sidebar h3 {
    margin:5px 0;
    font-size: 16px;
    height: 24px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.article h2 a:link, .article h2 a:visited {
    color: #333;
    text-decoration:none;
}

.article h2 a:hover {
    color:#005580;
}

.article .entry_post {
    padding:10px;
}

.article .entry_post p {
    text-indent:2em;
}

.panel info {
    font-size: 12px;
    color:#757575;
}


/* detail css */
.detail h2 {
    margin:10px 0 0 0;
    font-size: 16px;
    height: 24px;
    padding-bottom: 10px;
}

.detail .info {
    color:#777;
}

.detail .content {
    padding:20px 0;
    font-size:15px;
}

.detail .content p {
    padding: 5px 0px;
    margin: 0 0 18px;
    line-height: 26px;
}
.detail .box {
    padding:10px 0;
    border-bottom:1px #DDD solid;
}

/*widget 配置*/
.sidebar .widget h3 {
    font-size:14px;
}

.sidebar ul {
    margin:0px;
}

.sidebar ul li {
    list-style:none;
    padding:2px;
}

.vintage{
background: #EEE url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
text-shadow: 5px -5px black, 4px -4px white;
font-weight: bold;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text }
.stroke{
color: transparent;
-webkit-text-stroke: 1px black;
letter-spacing: 0.04em;
background-color: }
.threed{
color: #fafafa;
letter-spacing: 0;
text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135 }


