{% extends "StockBase.html" %}

{% block title %}{{ videoname }} | {% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}

{% block extend_style %} 
<script src="/js/loading.js" type="text/javascript" charset="GBK"></script>
<script src="/js/util.js?a" type="text/javascript" charset="GBK"></script>
<script src="/js/absPainter.js" type="text/javascript" charset="GBK"></script>
<script src="/js/ajax.js?a" type="text/javascript" charset="GBK"></script>
<script src="/js/crossLines.js?a" type="text/javascript" charset="GBK"></script>
<script src="/js/axis-x.js?a" type="text/javascript" charset="GBK"></script>
<script src="/js/linepainter.js?a" type="text/javascript" charset="GBK"></script>
<script src="/js/volumePainter.js?a" type="text/javascript" charset="GBK"></script>
<script src="/js/axis-y.js?a" type="text/javascript" charset="GBK"></script>
<script src="/js/chartEventHelper.js?a" type="text/javascript" charset="GBK"></script>

<link href="/CSS/bootstrap-sortable.css" rel="stylesheet" media="screen">

{% endblock %}

{% block main %} 
<div id="main">
	<div class="panel panel-default">
<h>鼠标悬浮后有更详细信息！</h>
		<div class="panel-body">
		{% for owner, listStocks, alreadyHolderDatas, totalCost, totalearning in allOwnerInfo %}
		
			<div class="row">
			<div>持有者：{{ owner }}</div>
				<div>总投入：{{ totalCost }} 总盈利： {{ totalearning }} 当前投入： 当前盈利：</div>
				<div>当前持有股票</div>
				<table class="table table-striped table-hover sortable">
				<thead>
					
					<tr>
						<th>股票ID</th>
						<th>股票名称</th>
						<th>持有股</th>
						<th data-defaultsort="asc">收益</th>
						<th>当前价格</th>
					</tr>

				</thead>
				<tbody>
				{% for stockId, KLurl, name, sinaUrl,holdcount,curEarning,curPri in alreadyHolderDatas %}
					<tr>
					<td><a href="{{ KLurl }}">{{ stockId }}</a></td>
					<td><a href="{{ sinaUrl }}">{{ name }}</a></td>
					<td>{{ holdcount }}</td>
					<td>{{ curEarning }}</td>
					<td>{{ curPri }}</td>
					</tr>
				{% endfor %}
            	</tbody>
				</table>
				
				<div>操作记录</div>
				<table class="table table-striped table-hover sortable" style="table-layout: fixed">
				<thead>
					
					<tr>
						<th>股票名称</th>
						<th data-defaultsort="asc">操作日</th>
						<th title="本次买入或者卖出的成交价格">成交价</th>
						<th title="买 入、卖出股数">行为</th>
						<th title="截止这个交易日的持有 股数">持有</th>
						<th title="下一次买入、卖出时的价格">下次操作</th>
						<th title="预估收益，单元为人民币元">收益</th>
						<th title="两个操作日间的最高收盘价">最高价</th>
						<th title="两个操作日间的最低收盘价">最低价</th>
						<th title="两个操作日间的最高换手率">最高换手</th>
						<th title="强于大盘天数的比例">强于大盘</th>
						<th title="">备注</th>
					</tr>

				</thead>
				<tbody>
{% for name, sinaUrl, curTime, curDayInfo, curPri, op,opInfo, holdcount,holdInfo,nextTime,nextPrice, curEarning,curEarningInfo,hisHighPri,hisHighDay,hisLowPri, hisLowDay,hisHighVol,hisVolDay,strong,info in listStocks %}
					<tr>
					<td><a href="{{ sinaUrl }}">{{ name }}</a></td>
					<td title="{{ curDayInfo }}">{{ curTime }}</td>
					<td title="{{ curPri }}">{{ curPri }}</td>
					<td title="{{ opInfo }}">{{ op }}</td>
					<td title="{{ holdInfo }}">{{ holdcount }}</td>
					<td title="{{ nextTime }}">{{ nextPrice }}</td>
					<td title="{{curEarningInfo}}">{{ curEarning }}</td>
					<td title="{{ hisHighDay }}">{{ hisHighPri }}</td>
					<td title="{{ hisLowDay }}">{{ hisLowPri }}</td>
					<td title="{{ hisVolDay }}">{{ hisHighVol }}</td>
					<td title="{{ strong }}">{{ strong }}</td>
					<td title="{{ info }}"
					<span style="width: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: keep-all;">
                        {{ info }}
                    </span></td>
					</tr>
				{% endfor %}
            	</tbody>
				</table>
				<div class="row"><a href="{{ earningHistoryUrl }}">
					<img src="{{ earningHistoryUrl }}" class="img-responsive" alt="{{ earningHistoryUrl }}" />
				</a></div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
<script src="/js/moment.min.js"></script>
<script src="/js/bootstrap-sortable.js"></script>
{% endblock %}
