{% extends "StockBase.html" %}

{% block title %}{{ videoname }} | {% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}

{% block main %} 
<div class="row">
<div>{{ curpri }}</div>
<img src="{{ minuteurl }}" class="img-responsive" alt="{{ minuteurl }}" />
</div>
<div class="row">
<img src="{{dailyurl}}" class="img-responsive" alt="{{dailyurl}}" />
</div>
<div class="row">
<img src="{{ weekurl }}" class="img-responsive" alt="{{ weekurl }}" />
</div>
<div class="row">
<img src="{{ monthurl }}" class="img-responsive" alt="{{ monthurl }}" />
</div>
{% endblock %}