{% extends "StockBase.html" %}

{% block title %}{{ videoname }} | {% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}

{% block main %} 
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<img src="{{ minuteurl }}" class="img-responsive" alt="{{ minuteurl }}" />
		</div>
		<div class="row">
			<img src="{{dailyurl}}" class="img-responsive" alt="{{dailyurl}}" />
		</div>
		<div class="row">
			<img src="{{ weekurl }}" class="img-responsive" alt="{{ weekurl }}" />
		</div>
		<div class="row">
			<img src="{{ monthurl }}" class="img-responsive" alt="{{ monthurl }}" />
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="row">
		    <div class="textwidget">
		    <ul class="list-unstyled">
{% for key,value in stockInfoInTime %}
		    <li>{{ key }}：{{ value }}</li>
{% endfor %}
			</ul>
		    </div>
		</div>
	</div>
</div>
{% endblock %}